.banner {
    min-width: 100%;
    background-color: rgb(21, 3, 49);
    color: beige;
    position: top;
}

.heading {
    font-weight: 800;
    text-align: left;
    padding: 3%;
    text-decoration: wavy;
}